@import '@/assets/colors';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: $background;
}

h1, h2, h3, p, a {
  color: $textColor;
  text-align: center;
}

@media only screen and (max-width: 765px) {
  body {
    padding: 10px;
  }
}